<div class="centered full-width welcome-wrapper">
  <mat-card id="welcome">
    <mat-card-title>{{ 'WELCOME' | translate }} {{ user.firstName }},</mat-card-title>
    <mat-card-content>
      <p>{{ 'WELCOME_DESCRIPTION' | translate:semester }}</p>
      <button mat-raised-button color="primary" id="welcome-button" (click)="startRegistration()">
        {{ 'WELCOME_GO_BUTTON' | translate }}
      </button>
    </mat-card-content>
  </mat-card>
</div>

<!-- Choose graduation -->
<app-step [@stepState]="stepStates[0]" (stepNext)="advanceOneStep(1)"
          (stepBack)="toggleStep(0)" [progressValue]="progress[0]" [nextDisables]="!user.graduation"
          [nextButtonName]="'BUTTON_NEXT'" [backButtonName]="null" [stepName]="'REG_GRADUATION_STEP_TITLE'">

  <p>{{ 'REG_GRADUATION_STEP_DESC' | translate }}</p>

    <mat-radio-group (change)="graduationChange($event)" id="graduation-form">
      <mat-radio-button aria-labelledby="graduation-form" class="radio-button-vertical" *ngFor="let graduation of graduationsArray" [value]="graduation">
        {{ graduation | translate }}
      </mat-radio-button>
    </mat-radio-group>
</app-step>

<!-- Choose partner -->
<app-step [@stepState]="stepStates[1]" (stepNext)="partnerStepNext(2)"
          (stepBack)="toggleStep(1)" [progressValue]="checkingPartner ? -1 : progress[1]"
          [nextButtonName]="wasPartnerEntered() ? 'BUTTON_NEXT' : 'BUTTON_SKIP'"
          [backButtonName]="'BUTTON_BACK'" [stepName]="'REG_PARTNER_STEP_TITLE'"
          [nextDisables]="!isPartnerOk() && wasPartnerEntered()" [resetButtonName]="'RESET'" (reset)="resetPartner()">

  <p>{{ 'REG_PARTNER_STEP_DESC' | translate }}</p>
  <p>{{ 'REG_PARTNER_STEP_DESC2' | translate }}</p>

  <mat-input-container class="input-container">
    <input matInput [placeholder]="'S_NUMBER' | translate" [(ngModel)]="partner.sNumber" (keyup)="partnerKeyUp.next()">
  </mat-input-container>
  <mat-input-container class="input-container">
    <input matInput [placeholder]="'LAST_NAME' | translate" [(ngModel)]="partner.lastName" (keyup)="partnerKeyUp.next()">
    <mat-hint align="start">{{ 'INPUT_PARTNER_LASTNAME_HINT' | translate }}</mat-hint>
  </mat-input-container>
  <app-chosen-partner-info style="margin-top: 30px" *ngIf="wasPartnerEntered() && registrationService.partnerStatus !== undefined"></app-chosen-partner-info>
</app-step>

<!-- Choose institutes -->
<app-step [@stepState]="stepStates[2]" (stepNext)="instituteStepNext(3)"
          (stepBack)="toggleStep(2)" [progressValue]="progress[2]"
          [nextButtonName]="'BUTTON_NEXT'" [nextDisables]="instituteNextButtonDisable()"
          [backButtonName]="'BUTTON_BACK'" [stepName]="'REG_INSTITUTES_STEP_TITLE'"
          [resetButtonName]="'RESET'" (reset)="user.institutes = []">

  <p>
    {{ 'REG_INSTITUTES_STEP_DESC' |
    translate:(canSelectOnlyOneInstitute() ? ('ONE' | translate) : ('TWO' | translate))
    :(canSelectOnlyOneInstitute() ? '' : ('INSTITUTE_PLURAL_SUFFIX' | translate)) }}
  </p><mat-chip-list></mat-chip-list>

  <div class="institute-form" *ngIf="!needsOnlyOneInstitute()">
    <p>1. {{ 'SEMESTER_HALF' | translate }}</p>
    <mat-radio-group (change)="instituteChange($event)" [value]="findInstituteByHalf(1)">
      <mat-radio-button class="radio-button-vertical" [disabled]="shouldOptionBeDisabled(institute.name, 1)"
                       *ngFor="let institute of institutes | instituteFilter:user.graduation:1" [value]="institute">
        {{ institute.name }}
        <mat-chip selectable="false" [color]="hasInstituteEnoughPlaces(institute) ? 'accent' : 'primary'">{{ institute.places }}</mat-chip> <span class="institute-notes">{{ institute.notes }}</span>
      </mat-radio-button>
    </mat-radio-group>
    <p>2. {{ 'SEMESTER_HALF' | translate }}</p>
    <mat-radio-group (change)="instituteChange($event)" [value]="findInstituteByHalf(2)">
      <mat-radio-button class="radio-button-vertical" [disabled]="shouldOptionBeDisabled(institute.name, 2)"
                       *ngFor="let institute of institutes | instituteFilter:user.graduation:2" [value]="institute">
        {{ institute.name }} <mat-chip color="primary">{{ institute.places }}</mat-chip> <span class="institute-notes">{{ institute.notes }}</span>
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="institute-form" *ngIf="needsOnlyOneInstitute()">
    <mat-radio-group [(ngModel)]="user.institutes[0]">
      <mat-radio-button class="radio-button-vertical"
                       *ngFor="let institute of institutes | instituteFilter:user.graduation" [value]="institute">
        {{ institute.name }} <mat-chip selectable="false">{{ institute.places }}</mat-chip> <span class="institute-notes">{{ institute.notes }}</span>
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div style="margin-top: 40px">
    <p>{{ 'REG_INSTITUTES_STEP_WAITINGLIST_DESC' | translate:(user.partner ? ('REG_INSTITUTES_STEP_WAITINGLIST_DESC_PARTNER' | translate) : '') }}</p>
    <mat-slide-toggle [(ngModel)]="registrationService.onWaitingList">{{ 'REG_INSTITUTES_STEP_WAITINGLIST_BTN' | translate }}
    </mat-slide-toggle>
  </div>
</app-step>

<!-- Enter notes -->
<app-step [@stepState]="stepStates[3]" (stepNext)="advanceOneStep(4)"
          (stepBack)="toggleStep(3)" [progressValue]="submitting ? -1 : progress[3]"
          [nextButtonName]="'BUTTON_NEXT'"
          [backButtonName]="'BUTTON_BACK'" [stepName]="'REG_NOTES_STEP_TITLE'">

  <p>{{ 'REG_NOTES_STEP_DESC' | translate }}</p>
  <mat-form-field>
    <textarea matInput rows="5" [placeholder]="'REG_NOTES_INPUT_PLACEHOLDER' | translate" [(ngModel)]="user.notes"></textarea>
  </mat-form-field>
</app-step>

<!-- Check registration and send -->
<app-step [@stepState]="stepStates[4]" (stepNext)="advanceOneStep(5)"
          (stepBack)="toggleStep(4)" [progressValue]="submitting ? -1 : progress[4]"
          [nextButtonName]="'BUTTON_SEND'"
          [backButtonName]="'BUTTON_BACK'" [stepName]="'REG_CHECK_STEP_TITLE'">

  <p>{{ 'REG_CHECK_STEP_DESC' | translate }}</p>
  <app-user-info-list [user]="user"></app-user-info-list>
</app-step>
