app-registration-form, app-registered-info {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.view-wrapper {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
