<div class="view-wrapper" *ngIf="showView">
  <app-registration-form [@fadeIn] *ngIf="!user.status"></app-registration-form>
  <app-registered-info [@fadeIn] *ngIf="user.status === 'registered'"></app-registered-info>
</div>
<div class="sk-spinner" *ngIf="!showView">
  <div class="sk-spinner-animate"></div>
</div>
<footer id="footer">
  <div id="buildByPO">
    Build with <span style="color: #FF8E8E;font-size: 140%;">♥</span> by
    <a href="https://physikonline.uni-frankfurt.de">PhysikOnline</a>
  </div>
</footer>
