<md-stepper>
  <md-step :md-continue="!!selected.graduation" md-button-continue="Weiter" md-button-back="Zurück">
    <p>Bitte wähle deinen Studiengang aus:</p>
    <div>
      <md-list>
        <md-list-item v-for="g in graduations" :key="g">
          <md-radio v-model="selected.graduation" class="registration-radio"
                    :md-value="g">{{ fullGraduations[g] }}
          </md-radio>
        </md-list-item>
      </md-list>
    </div>
  </md-step>
  <md-step :md-button-continue="selected.partner.name && selected.partner.account ? 'Weiter' : 'Überspringen'">
    <p>Falls du einen bereits eine Partnerin oder einen Partner für das Praktikum hast, kannst du sie/ihn hier
      eintragen.</p>
    <p>Dies kann auch nachträglich nach der Anmeldung eingetragen werden oder am Tag der Einführungsveranstaltung.</p>
    <md-input-container>
      <label>HRZ-Account (s-Nummer):</label>
      <md-input v-model="selected.partner.account"></md-input>
    </md-input-container>
    <md-input-container>
      <label>Nachname:</label>
      <md-input v-model="selected.partner.name"></md-input>
    </md-input-container>
  </md-step>
  <md-step md-button-continue="Weiter" md-button-back="Zurück">
    <p>Wähle bitte zwei Institute aus, die Reihenfolge (1./2. Semesterhälfte) werden wir dir per Mail am Ende der Anmeldephase
      zuschicken.</p>
    <div class="form-md-switch">
      <md-switch @change="toggleInstitutesNameOnly">Ich möchte gerne die Reihenfolge festlegen.</md-switch>
    </div>
    <div class="form-md-switch">
      <md-switch @change="toggleOnlyOneInstitute">Ich habe bereits alle notwendigen Versuche in einem Institut abgeschlossen und möchte nur eines
        auswählen.
      </md-switch>
    </div>
    <div id="form-institutes">
      <md-list v-if="selected.instituteNamesOnly">
        <md-list-item v-for="i in instituteNames[selected.graduation]" :key="i.id">
          <md-checkbox @change="selectInstitute" :md-value="i">{{ i }}</md-checkbox>
        </md-list-item>
      </md-list>
      <div v-else>
        <p>1. Semesterhälfte</p>
        <md-list>
          <md-list-item v-for="i in institutesByGradAndHalf[selected.graduation][0]" :key="i.id">
            <md-radio @change="selectInstitute" :md-value="i.id">{{ i.name }}</md-radio>
          </md-list-item>
        </md-list>
        <p>2. Semesterhälfte</p>
        <md-list>
          <md-list-item v-for="i in institutesByGradAndHalf[selected.graduation][1]" :key="i.id">
            <md-radio @change="selectInstitute" :md-value="i.id">{{ i.name }}</md-radio>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </md-step>
  <md-step md-button-continue="Weiter" md-button-back="Zurück">

  </md-step>
</md-stepper>
