.form-md-switch {
  margin-top: 20px;
}

#form-institutes {
  padding: 20px;
}

#registration-form {

  #reg-data {
    padding: 10px;
    font-size: larger;

    .reg-data-row {
      margin-bottom: 10px;
    }

    .data-title {
      display: inline-block;
      width: 150px;
    }

    .data-content {
      display: inline-block;
    }
  }

}
