<md-card class="partner-is-free" *ngIf="registrationService.partnerStatus === chosenPartnerEnum.registeredAndFree">
  <md-card-title>{{ 'PARTNER_IS_FREE_TITLE' | translate:registrationService.partner.firstName }}</md-card-title>
  <md-card-content>
    {{ 'PARTNER_IS_FREE_CONTENT' | translate:registrationService.partner.firstName }}
    <!--<app-user-info-list [user]="registrationService.fullPartner"></app-user-info-list>-->
  </md-card-content>
</md-card>
<md-card class="partner-not-registered" *ngIf="registrationService.partnerStatus === chosenPartnerEnum.notRegistered">
  <md-card-title>{{ 'PARTNER_IS_NOT_REGISTERED_TITLE' | translate:registrationService.partner.firstName }}
  </md-card-title>
  <md-card-content>{{ 'PARTNER_IS_NOT_REGISTERED_CONTENT' | translate }}</md-card-content>
</md-card>
<md-card class="partner-not-registered" *ngIf="registrationService.partnerStatus === chosenPartnerEnum.hasDifferentGraduation">
  <md-card-title>{{ 'PARTNER_IS_DIFFERENT_GRADUATION_TITLE' | translate:registrationService.partner.firstName:(registrationService.fullPartner.graduation | translate) }}
  </md-card-title>
  <md-card-content>{{ 'PARTNER_IS_DIFFERENT_GRADUATION_CONTENT' | translate:registrationService.partner.firstName }}</md-card-content>
</md-card>
<md-card class="partner-does-not-exist" *ngIf="registrationService.partnerStatus === chosenPartnerEnum.doesNotExist">
  <md-card-title>{{ 'PARTNER_DOES_NOT_EXIST_TITLE' |
    translate:registrationService.partner.lastName:registrationService.partner.login }}
  </md-card-title>
  <md-card-content>{{ 'PARTNER_DOES_NOT_EXIST_CONTENT' | translate }}</md-card-content>
</md-card>
<md-card class="partner-has-partner" *ngIf="registrationService.partnerStatus === chosenPartnerEnum.hasPartner">
  <md-card-title>{{ 'PARTNER_HAS_PARTNER_TITLE' | translate:registrationService.partner.firstName }}</md-card-title>
  <md-card-content>{{ 'PARTNER_HAS_PARTNER_CONTENT' | translate }}</md-card-content>
</md-card>
<md-card class="partner-same-as-user" *ngIf="registrationService.partnerStatus === chosenPartnerEnum.sameAsUser">
  <md-card-title>{{ 'PARTNER_SAME_AS_TITLE' | translate }}</md-card-title>
</md-card>
