<mat-horizontal-stepper [linear]="true">
  <mat-step [stepControl]="partnerForm">
    <form [formGroup]="partnerForm">
      <ng-template matStepLabel>Partnerwahl</ng-template>
      <div class="step-body">
        <p>
          Falls du bereits eine Partnerin oder einen Partner für das Praktikum hast, kannst sie oder ihn hier auswählen. Dies kann
          aber auch noch am Tag der Einführungsveranstaltung nachgeholt werden.
        </p>
        <p>
          Falls du die s-Nummer also nicht weißt, überspringe diesen Schritt einfach.
        </p>
        <mat-form-field>
          <input matInput placeholder="s000000" formControlName="partnerNumber" [value]="(partner | async)?.login || ''" (keyup)="partnerInput.next()">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Nachname" formControlName="partnerName" [value]="(partner | async)?.lastName || ''" (keyup)="partnerInput.next()">
          <mat-hint>Der Nachname muss mit dem im Profil übereinstimmen!</mat-hint>
        </mat-form-field>
        <app-chosen-partner-info *ngIf="!(noPartner | async)" [partner]="partner | async" [partnerStatus]="partnerType | async" style="margin-top: 30px"></app-chosen-partner-info>
        <div class="mt-1">
          <mat-checkbox (change)="noPartner.next($event.checked)">
            Ich möchte keine Partnerin/keinen Partner angeben.
          </mat-checkbox>
        </div>
        <div class="step-btns">
          <button mat-raised-button color="primary" matStepperNext [disabled]="partnerForm.invalid && !(partnerAcceptable | async)">Weiter</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="institutesForm">
    <form [formGroup]="institutesForm">
      <ng-template matStepLabel>Institute</ng-template>
      <div class="step-body">
        <p>
          Wähle bitte {{ (needsOnlyOneInstitute | async) ? 'ein' : 'zwei' }} Institut(e) aus.
        </p>
        <div class="institute-form" *ngIf="!(needsOnlyOneInstitute | async)">
          <p>1. {{ 'SEMESTER_HALF' | translate }}</p>
          <mat-radio-group (change)="instituteChange($event)">
            <mat-radio-button class="radio-button-vertical" [disabled]="shouldOptionBeDisabled(institute.name, 1)" *ngFor="let institute of availableInstitutes | async | instituteFilter:1"
              [value]="institute">
              {{ institute.name }}
              <span class="institute-notes">{{ institute.notes }}</span>
            </mat-radio-button>
          </mat-radio-group>
          <p>2. {{ 'SEMESTER_HALF' | translate }}</p>
          <mat-radio-group (change)="instituteChange($event)">
            <mat-radio-button class="radio-button-vertical" [disabled]="shouldOptionBeDisabled(institute.name, 2)" *ngFor="let institute of availableInstitutes | async | instituteFilter:2"
              [value]="institute">
              {{ institute.name }}
              <span class="institute-notes">{{ institute.notes }}</span>
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="institute-form" *ngIf="needsOnlyOneInstitute | async">
          <mat-radio-group>
            <mat-radio-button class="radio-button-vertical" *ngFor="let institute of availableInstitutes | async" [value]="institute">
              {{ institute.name }}
              <span class="institute-notes">{{ institute.notes }}</span>
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="step-btns">
          <button mat-raised-button matStepperPrevious>Zurück</button>
          <button mat-raised-button color="primary" matStepperNext>Weiter</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="notesForm">
    <form [formGroup]="notesForm">
      <ng-template matStepLabel>Bemerkungen</ng-template>
      <div class="step-body">
        <p>
          Hier kannst du Bemerkungen eintragen.
        </p>
        <mat-form-field>
          <textarea matInput formControlName="notes" placeholder="Bemerkungen..." (keyup)="notesInput.next()"></textarea>
        </mat-form-field>
        <div class="step-btns">
          <button mat-raised-button matStepperPrevious>Zurück</button>
          <button mat-raised-button color="primary" matStepperNext (click)="startNextStep()">Weiter</button>
        </div>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
