<div class="rating-card">
  <h3>{{ 'RATING_TITLE' | translate }}</h3>
  <star-rating-comp [starType]="'icon'"
                    [hoverEnabled]="true"
                    (onClick)="onRating($event)"
                    [size]="'large'"
                    [readOnly]="hasRated || hasSendRating"
                    [labelPosition]="'bottom'"></star-rating-comp>
  <div *ngIf="ratingDetailText && !hasSendRating">
    <p>{{ ratingDetailText | translate }}</p>
    <md-input-container class="rating-details">
      <textarea id="rating-detail" rows="5" placeholder="{{ 'RATING_DETAIL_LABEL' | translate }}"
                mdInput [(ngModel)]="ratingFeedbackText"></textarea>
    </md-input-container>
    <div class="rating-actions">
      <button md-raised-button (click)="sendRating()" color="accent">{{ 'SUBMIT' | translate }}</button>
      <button md-raised-button (click)="resetRating()">{{ 'RESET' | translate }}</button>
    </div>
  </div>
</div>
