app-registration-form,
app-registered-info {
  display: block;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.view-wrapper {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
