<div class="app-step">
  <md-card class="step-card">
    <md-card-title>
      {{ stepName | translate }}
    </md-card-title>
    <div class="step-content">
      <ng-content></ng-content>
    </div>
    <div class="step-actions">
      <button md-raised-button color="primary" (click)="stepNext.emit()" [disabled]="nextDisables">
        {{ nextButtonName | translate }}
      </button>
      <button md-raised-button color="accent" *ngIf="backButtonName" (click)="stepBack.emit()">
        {{ backButtonName | translate }}
      </button>
      <button md-raised-button *ngIf="resetButtonName" (click)="reset.emit()">
        {{ resetButtonName | translate }}
      </button>
    </div>
    <md-card-footer class="step-footer">
      <md-progress-bar [mode]="progressValue === -1 ? 'indeterminate' : 'determinate'"
                       [value]="progressValue"></md-progress-bar>
    </md-card-footer>
  </md-card>
</div>
