<div id="registration">
  <md-card id="registration-start">
    <md-card-header>
      <div class="md-title">Hi {{ user.name }},</div>
    </md-card-header>
    <md-card-content>
      hier kannst du dich für das Fortgeschrittenen Praktikum im {{ semester }} anmelden.
    </md-card-content>
    <md-card-actions>
      <md-button class="md-raised md-primary" id="start-button" @click="start">Los geht's</md-button>
    </md-card-actions>
  </md-card>
  <transition name="fade">
    <registration-form v-if="startRegistration" id="registration-form"></registration-form>
  </transition>
</div>
