app-step {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.radio-button-vertical {
  display: block;
  margin-top: 5px;
}

.institute-notes {
  font-size: smaller;
  color: grey;
}

.input-container {
  display: block;
  margin-top: 10px;
}

.mat-slide-toggle-label {
  display: inline-block !important;
}

.mat-slide-toggle-bar {
  display: inline-block !important;
}

.mat-slide-toggle {
  white-space: normal;
}
