.app-step {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;

  padding: 40px;
  @media (max-width: 600px){
    padding: 0;
  }

  .step-card {
    position: relative;

    .step-content {
      position: relative;

      // ugly, needed because radio btn effect gets clipped by overflow-y (dunno why...)
      transform: translate(-30px);
      padding: 10px 0 30px 30px;
      margin-right: -30px;
      min-height: 40vh;
      max-height: 70vh;
      overflow-y: auto;
      overflow-x: visible;

      @media (max-width: 600px){
        padding-top: 0;
        max-height: 60vh;
      }
    }

    .step-actions {
      margin-bottom: 30px;
    }

    .step-footer {
      md-progress-bar {
        position: absolute;
        bottom: 0;
      }
    }
  }
}
