<div class="app-step">
  <md-card class="step-card">
    <md-card-title>
      {{ stepName | translate }}
    </md-card-title>
    <md-card-content class="step-content">
      <ng-content></ng-content>
    </md-card-content>
    <md-card-actions class="step-actions">
      <button md-raised-button color="primary" (click)="stepNext.emit()" [disabled]="nextDisables">{{ nextButtonName | translate }}</button>
      <button md-button *ngIf="backButtonName" (click)="stepBack.emit()">{{ backButtonName | translate }}</button>
    </md-card-actions>
    <md-card-footer class="step-footer">
      <md-progress-bar [value]="progressValue"></md-progress-bar>
    </md-card-footer>
  </md-card>
</div>
