/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~angular-star-rating/assets/scss/star-rating';
@import 'app/theme/scss/step.scss';

@import 'theme';

.rating:focus {
  outline: none;
}

app-root {
  display: block;
  height: 100%;
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sk-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sk-spinner-animate {
  width: 40px;
  height: 40px;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
  animation: sk-pulseScaleOut 1s infinite ease-in-out;
}

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.full-sized {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.welcome-wrapper {
  max-width: 500px;
  padding: 10px;
}

#welcome {
  #welcome-button {
    display: block;
    margin: auto;
  }
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  //overflow: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.small-spinner {
  width: 20px !important;
  height: 20px !important;
}

.roboto {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-slide-toggle-label {
  display: inline-block !important;
}

.mat-slide-toggle-bar {
  display: inline-block !important;
}

.mat-slide-toggle {
  white-space: normal;
}

mat-dialog-container {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-radio-button {
  display: block !important;
  padding-bottom: 1rem;
}

.mat-form-field {
  width: 100% !important;
}

.mat-dialog-container {
  max-width: 95vw !important;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.step-btns {
  @media screen and (max-width: 800px) {
    margin-top: 1rem !important;
    button {
      display: block;
      width: 100%;
      margin-top: 0.5rem;
    }
  }
}

.mat-step-label {
  @media screen and (max-width: 800px) {
    display: none !important;
  }
}

.btn-loading-btn {
  display: inline-flex;
  align-items: baseline;
  .loading-icon {
    line-height: 30px;
    margin-top: -5px;
    vertical-align: middle;
    margin-right: 0.25rem;
    margin-left: calc(-1em - 0.25rem);
    transition: opacity 0.3s, margin-left 0.2s 0.15s;
    opacity: 0;
  }

  &.is-loading {
    .loading-icon {
      transition: opacity 0.3s 0.1s, margin-left 0.2s;
      opacity: 1;
      margin-left: 0;
      animation: spin 2s linear infinite;
      @-moz-keyframes spin {
        100% {
          -moz-transform: rotate(360deg);
        }
      }
      @-webkit-keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
      @keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
  }
}
