/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-star-rating/assets/scss/star-rating";

.rating:focus {
  outline: none;
}

app-root {
  display: block;
  height: 100%;
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-width {
  width: 100%;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mat-slide-toggle-label {
  display: inline-block !important;
}

.mat-slide-toggle-bar {
  display: inline-block !important;
}

.mat-slide-toggle {
  white-space: normal;
}

md-dialog-container {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.mat-dialog-container {
  max-width: 95vw !important;
}
