@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-blue, 800);
$accent:  mat-palette($mat-light-blue, 600, 100, 800);
$warn:    mat-palette($mat-red, 600);

$app-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($app-theme);
