<h2 mat-dialog-title>{{ title | translate }}</h2>
<mat-dialog-content>
  <p *ngIf="content" [innerHtml]="content | translate"></p>
  <mat-accordion *ngIf="error">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Technische Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{ error | json }}</pre>

    </mat-expansion-panel>
  </mat-accordion>
  <p [innerHtml]="'ERROR_HELP' | translate:(content)"></p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>{{ 'CLOSE' | translate }}</button>
</mat-dialog-actions>
